{{ define "scratch"}}
<!DOCTYPE html>
<html>
<head>	

	<link rel="stylesheet" type="text/css" href="../../css/navbar.css"  media="all" />	
	<title>Whitelist</title>
</head>


<body>
{{ template "sidebar"}}
<!--	<div class="container-fluid particle-js">
	<div class="row justify-content-center align-items-center">
            <img class="img-logo" src="../public/static/img/fdsap-logo.png" alt="FDS ASYA PHILIPPINES INC. Logo" >
        </div>
		<div class="row justify-content-center align-items-center">
			<div class=" card login-base">
				<div class="card login-top animate__animated animate__slideInLeft">
              
					<form method="POST" action="/update/client/process">
				    	<div class="form__group field">
							<input type="input" class="form__field " placeholder="Area" name="area" id='area' value="{{.Area}}"required />
							<label for="area" class="form__label ">Area</label>
						</div>
						<div class="form__group field">
							<input type="input" class="form__field " placeholder="Birthday" name="birthday" id='birthday' value="{{.Birthday}}"required />
							<label for="birthday" class="form__label ">Birthday</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="CID" name="cid" id='cid' value="{{.CID}}" required />
							<label for="cid" class="form__label ">CID</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="Center Name" name="centername" id='centername' value="{{.CenterName}}" required />
							<label for="centername" class="form__label ">Centername</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="Contact" name="contact" id='contact' value="{{.Contact}}" required />
							<label for="contact" class="form__label ">Contact</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="Flag" name="flag" id='flag' value="{{.Flag}}" required />
							<label for="flag" class="form__label ">Flag</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="Length of Membership" name="lengthofmembership" id='lengthofmembership' value="{{.LengthOfMembership}}" required />
							<label for="lengthofmembership" class="form__label ">Length Of Membership</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="Member's Name" name="membername" id='membername' value="{{.MemberName}}" required />
							<label for="membername" class="form__label ">Member's Name</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="New Branch Code" name="newbranchcode" id='newbranchcode' value="{{.NewBranchCode}}" required />
							<label for="newbranchcode" class="form__label ">New Branch Code</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="New CID" name="newcid" id='newcid' value="{{.NewCID}}" required />
							<label for="newcid" class="form__label ">New CID</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="Recognized Date" name="recognizeddate" id='recognizeddate' value="{{.RecognizedDate}}" required />
							<label for="recognizeddate" class="form__label ">Recognized Date</label>
						</div>
                        <div class="form__group field">
							<input type="input" class="form__field " placeholder="SN" name="sn" id='sn' value="{{.SN}}" required />
							<label for="sn" class="form__label ">SN</label>
						</div>
                        <div class="form__group field">
							<input type="text" class="form__field " placeholder="Unit" name="unit" id='unit' value="{{.Unit}}" required />
							<label for="unit" class="form__label ">Unit</label>
						</div>
						<input class="btn-1"  type="submit" value="Update ">
					</form>              
					<p style="text-align:center;margin-top:10px;color:#4b4e52;">Don't have an Account? <a href="/register/user" style="margin-top:10px;color:#4b4e52;"> Register Now!</a></p>
				</div>
			</div>
		</div>
	</div>-->
	<!--Footer-->
	<footer class="footer">
 	 © FDS ASYA PHILIPPINES INC. | 2020
	</footer>	
</body>
</html>
{{ end }}