{{define "uploadnil"}}
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="alert alert-danger animate__animated animate__slideInDown" role="alert">
                Please choose a file.
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-12 card" id="table">
              <table id="clientTable" class="display nowrap">
                <thead>
                  <tr>
                    <th>Area</th>
                    <th>Birthday</th>
                    <th>Cid</th>
                    <th>Center Name</th>
                    <th>Contact</th>
                    <th>Flag</th>
                    <th>Length of Membership</th>
                    <th> Member Name</th>
                    <th>New Branch Code</th>
                    <th>New CID</th>
                    <th>Recognized Date</th>   
                    <th> SN</th>
                    <th>Unit</th>     
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>  
          </div>
{{end}}